@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

header {
    height: 3.125rem; 
    background-color: #24436E;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.125rem;

    img {
        width: 7.5rem;
        filter: brightness(0) invert(1);
    }
}

header button {
    background-color: #76B947;  
    color: #FFFFFF;             
    border: none;
    border-radius: 8px;         
    padding: 0.6rem 1rem;   
    font-size: 0.9rem;
    font-weight: 600;           
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

main {
    height: calc(100vh - 3.125rem); 
    display: grid;
    grid-template-columns: 561px 1fr;
    overflow-y: hidden;
}

#sidebar {
    padding: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.75rem; 
    overflow-y: auto; 
    background-color: #FFF;
}

#sidebar h1 {
    text-align: center;
    font-size: 1.5rem; 
    font-weight: 600;
    color: #24436E; 
    line-height: 1.3;
}

#sidebar h1 span {
    color: #76B947;
}

#search-container input {
    width: 100%;
    font-size: 1rem;
    color: #444;
    border: 1px solid #DDD;     
    border-radius: 8px;         
    outline: none;              
    
    padding: 0.75rem 2.8rem 0.75rem 2.8rem;
    
    
    background-image: 
       /* Lupa  */
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="%23888888"><path d="M15.5 14h-.79l-.28-.27A6.5 6.5 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>'),
        /* Localização  */
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="%2324436E"><path d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>');
    
    background-repeat: no-repeat;
    background-size: 1.25rem 1.25rem, 1.25rem 1.25rem; 
    background-position: left 0.75rem center, right 0.75rem center; 
}

#search-container input::placeholder {
    color: #999;
}

#button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#button-container span {
    font-weight: 400;
    font-size: 0.875rem;
    color: #24436E;
}

#button-container button {
    background-color: #76B947; 
    color: #FFFFFF;            
    border: none;
    border-radius: 8px;         
    padding: 0.75rem 1.25rem;   
    font-size: 0.9rem;
    font-weight: 600;           
    cursor: pointer;
}

#places-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem 1rem; 
}

.place-card {
    cursor: pointer;
}

.place-card img {
    width: 100%;
    height: 6.875rem; 
    object-fit: cover; 
    border-radius: 0.5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.place-card p {
    font-size: 0.75rem;
    font-weight: 500;
    color: #444;
}

#mapa {
    position: relative;
}

#map-container {
    height: 100%;
    width: 100%;
}

#zoom {
display: flex;
flex-flow: column;
gap: 1rem;
position: absolute;
right: 3.125rem;
bottom: 3.125rem;
}


#zoom button {
 width: 2.5rem;
 height: 2.5rem;
 z-index: 1000;
 border: none;
 border-radius: 8px;  
 cursor: pointer;
 color: white;       
 font-size: 1.5rem;  
 font-weight: bold;
line-height: 1;     
}

/* Cor do primeiro botão (Azul "+") */
#zoom button:first-child {
    background-color: #24436E; 
}

/* Cor do segundo botão (Verde "-") */
#zoom button:last-child {
    background-color: #76B947; 
}

/* Media Queries */

@media screen and (max-width: 575px) {
    main {
        display: flex;
        flex-flow: column;
    }

    #places-grid {
        display: none;
    }

    #mapa {
        height: 100%;
    }

    #button-container span {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    
    main {
        grid-template-columns: 1fr;
        height: calc(100vh - 3.125rem); 
        position: relative; 
    }

    #mapa {
        height: 100%;
        width: 100%;
    }
    
    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 561px; 
        z-index: 10;
        height: auto;
        max-height: 100%; 
    }

    #places-grid {
        display: none
    }
}

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 1fr;
        height: calc(100vh - 3.125rem); 
        position: relative; 
    }

    #mapa {
        height: 100%;
        width: 100%;
    }
    
    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 561px; 
        z-index: 10;
        height: auto;
        max-height: 100%; 
    }
}