@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
    background-color: #24436E;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 20px;
}

main {
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 561px 1fr;
}

#mapa {
    height: 100%;
    border: 1px solid black;
}